{% load i18n %}

{% load navigation_tags %}

{% if not hide_object %}
    <th>{% trans 'Identifier' %}</th>
{% else %}
    {% if source_columns_identifier %}
        <th>
            <span style="white-space: nowrap">
                {% if source_columns_identifier.0.is_sortable %}
                    <a href="{% navigation_get_sort_field_querystring column=source_columns_identifier.0 %}">{{ source_columns_identifier.0.label }}</a>
                        {% navigation_source_column_get_sort_icon column=source_columns_identifier.0 as icon_sort %}
                        {% if icon_sort %}
                            <span class="appearance-list-column-sort-icon">
                                {{ icon_sort.render }}
                            </span>
                        {% endif %}
                {% else %}
                    <span class="appearance-list-column-label">{{ source_columns_identifier.0.label }}</span>
                {% endif %}
                {% include 'appearance/partials/list/help_text.html' with source_column=source_columns_identifier.0 %}
            </span>
        </th>
    {% endif %}
{% endif %}
