{% load i18n %}
{% load static %}

{% load smart_settings_tags %}
<link rel="stylesheet" href=" {% static 'css/chat.css' %} ">
<link rel="stylesheet" href=" {% static 'css/home.css' %} ">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src=" {% static 'scripts/responses.js' %} "></script>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />

<style>
    .content{
        background-color: transparent;
    }
    .chat-bar-collapsible{
        background-color: transparent;
        box-shadow: none;
        margin-bottom: 15px;
        margin-right: -32px;
    }
    #circle-chat-button{
        position: fixed;
        right: 22px;
        bottom: 21px;
        width: 50px;
        z-index: 9999;
        height: 50px;
        border-radius: 34px;
        display: flex;
        background-image: url(https://s.cafebazaar.ir/images/icons/com.auto.bot.answer.chatgpt-7eca1f54-1d93-45b8-8e8d-767d6ba9ee02_512x512.png?x-img=v1/resize,h_256,w_256,lossless_false/optimize);
        align-items: center;
        justify-content: center;
        background-size: cover;
        border: 2px solid #009199;
        background-position-x: -1px;
      }
      .outer-container{
        min-height: 564px;
        bottom: 0%;
        position: relative;
        overflow-y: scroll;
        overflow-x: hidden;
      }
      .outer-container::-webkit-scrollbar {
        width: 5px; /* Width of the scrollbar */
    }
    
    /* Track */
    .outer-container::-webkit-scrollbar-track {
        background: #ffffff00; /* Color of the track */
    }
    
    /* Handle */
    .outer-container::-webkit-scrollbar-thumb {
        background: #04724d; /* Color of the scrollbar handle */
    }
    
    /* Handle on hover */
    .outer-container::-webkit-scrollbar-thumb:hover {
        background: #5cae93; /* Color of the scrollbar handle on hover */
    }
    #textInput{
        font-size: 11px;
        color: black;
        font-weight: 500;    
    }

    .chat-bubble {
        background-color:#E6F8F1;
        padding:16px 28px;
        -webkit-border-radius: 20px;
        -webkit-border-bottom-left-radius: 2px;
        -moz-border-radius: 20px;
        -moz-border-radius-bottomleft: 2px;
        border-radius: 20px;
        border-bottom-left-radius: 2px;
        display:inline-block;
      }
      .typing {
        align-items: center;
        display: flex;
        height: 17px;
      }
      .typing .dot {
        animation: mercuryTypingAnimation 1.8s infinite ease-in-out;
        background-color: #6CAD96 ; //rgba(20,105,69,.7);
        border-radius: 50%;
        height: 7px;
        margin-right: 4px;
        vertical-align: middle;
        width: 7px;
        display: inline-block;
      }
      .typing .dot:nth-child(1) {
        animation-delay: 200ms;
      }
      .typing .dot:nth-child(2) {
        animation-delay: 300ms;
      }
      .typing .dot:nth-child(3) {
        animation-delay: 400ms;
      }
      .typing .dot:last-child {
        margin-right: 0;
      }
      
      @keyframes mercuryTypingAnimation {
        0% {
          transform: translateY(0px);
          background-color:#6CAD96; // rgba(20,105,69,.7);
        }
        28% {
          transform: translateY(-7px);
          background-color:#9ECAB9; //rgba(20,105,69,.4);
        }
        44% {
          transform: translateY(0px);
          background-color: #B5D9CB; //rgba(20,105,69,.2);
        }
      }
      
</style>

<!-- <button id="circle-chat-button" type="button"> -->

</button>       
<div class="chat-bar-collapsible" style="background-color: transparent; box-shadow: none; z-index:999;">

    <!-- <button id="chat-button" type="button" class="collapsible" style="background-color: transparent;border:none;">
        
    </button> -->

    <div class="content" style="box-shadow: -1px 2px 20px #00000033;border-radius: 0px;     width: 334px;">
        <div class="full-chat-block" style="width: 100%; display: flex; border-radius: 0px; flex-direction: column; justify-content: flex-end;">
            <!-- <p style="text-align: start; padding: 11px; font-size: 16px; font-weight: 800;">Welcome to DocuBuddy chat !</p> -->
            <!-- Message Container -->
            <div class="outer-container" style="min-height: 493px;">
                <div class="chat-container">
                    <!-- Messages -->
                    <div class="chat-box-container">
                        <div id="chatbox">
                            <!-- <h5 id="chat-timestamp"></h5> -->
                            <p id="botStarterMessage" class="botText"><span>Loading...</span></p>
                        </div>
                        <div id="chat-bar-bottom">
                            <p></p>
                        </div>    
                    </div>
                    
                    {% csrf_token %}
                    <!-- Start voice input button -->

                    <!-- User input box -->
                    

                        <!-- <div class="chat-bar-icons"> -->

                            <!-- <button id="startButton" style="    padding: 0px 7px;
                            border-radius: 14px;"><i id="voiceInputIcon" class="fas fa-send"></i></button>

                            <button id="startButton" style="    padding: 0px 7px;
                            border-radius: 14px;"><i id="chat-icon" style="color: #333;" class="fas fa-fw fa-send"
                                onclick="sendButton()"></i> -->
                        <!-- </div> -->
                    </div>

                </div>
            </div>
            <div class="chat-bar-input-block" id="containrt-chat" style="display: none;position: sticky; background-size: 52px; bottom: 0;">
                <div>
                    <div id="userInput" style="display: flex; flex-direction: row; justify-content: flex-start; align-items: center; width: 352px; background: #ffffff; padding: 10px;  gap: 10px; border-left: none;">
                        <input id="textInput" class="input-box" type="text" name="msg" placeholder="Ask your query...">
                        <button id="startButton" style="padding: 4px 12px; display: flex; align-items: center; height: 42px; justify-content: center; width: 48px; color: #ffffff; border-radius: 4px; border: none; background: #04724d;" onclick="sendButton()">
                            <span class="material-symbols-outlined">
                                send
                            </span>
                        </button>
                    </div>
                    <p class="powered">Powered by AI - Docubuddy </p>
                </div>

        </div>
    </div>

</div>

<script>
    // Collapsible
var cht_inp = document.getElementsByClassName(".chat-bar-input-block");
var coll = document.getElementsByClassName("collapsible");
var extend = document.getElementById("extend-btn");
var close_btn = document.getElementById("close-btn");
// var circle_btn = document.getElementById("circle-chat-button");


var count = 0
for (let i = 0; i < coll.length; i++) {
    coll[i].addEventListener("click", function () {
        this.classList.toggle("active");
        if (count%2 === 0){
            close_btn.style.display = 'block';
            close_btn.style.display = 'block';
            extend.style.display = 'none';
        }else{
            close_btn.style.display = 'none';
            extend.style.display = 'block';
        }
        count++;

        var content = this.nextElementSibling;

        if (content.style.maxHeight) {
            content.style.maxHeight = null;
        } else {
            // content.style.maxHeight = content.scrollHeight + "px";
            content.style.maxHeight ="95vh";
        }

    });
}

function getTime() {
    let today = new Date();
    hours = today.getHours();
    minutes = today.getMinutes();

    if (hours < 10) {
        hours = "0" + hours;
    }

    if (minutes < 10) {
        minutes = "0" + minutes;
    }

    let time = hours + ":" + minutes;
    return time;
}

// Gets the first message
function firstBotMessage() {
    let firstMessage = "📁 Welcome to docuBuddy! Need answers about your documents? I'm your digital guide through the maze of files. Ask me anything, and I'll unlock the secrets hidden within your uploads. Let's navigate the paperwork jungle together! 🌟"
    document.getElementById("botStarterMessage").innerHTML = `<p class="botText"><div style="color: #585d63; padding: 10px; background: #ececed; width: 290px; margin-left: 10px; display: flex; border-radius: 0px 20px 20px 12px; align-items: flex-start; justify-content: flex-start; text-align: justify; flex-direction: column; font-size: 12px; font-weight: 500;">` + firstMessage + '</div></p>';

    let time = getTime();

    $("#chat-timestamp").append(time);
    // document.getElementById("userInput").scrollIntoView(false);
    // document.getElementById("chat-bar-bottom").scrollIntoView({ behavior: "smooth", block: "center", inline: "nearest" });
    document.querySelector(".powered").scrollIntoView(true);
}

firstBotMessage();

// Retrieves the response
function getHardResponse(userText) {
    let botResponse = getBotResponse(userText);
    // document.getElementById("chat-bar-bottom").scrollIntoView({ behavior: "smooth", block: "center", inline: "nearest" });
    // document.getElementById("chat-bar-bottom").scrollIntoView(true);
    document.querySelector(".powered").scrollIntoView(true);


}


//Gets the text text from the input box and processes it
function getResponse() {
    let userText = $("#textInput").val();

    if (userText == "") {
        return;
    }

    let userHtml = '<p class="userText"><span>' + userText + '</span></p>';

    $("#textInput").val("");
    $("#chatbox").append(userHtml);
    // document.getElementById("chat-bar-bottom").scrollIntoView(true);
    document.querySelector("#textInput").scrollIntoView(true);


    setTimeout(() => {
        getHardResponse(userText);
    }, 1000)

}

// Handles sending text via button clicks
function buttonSendText(sampleText) {
    let userHtml = '<p class="userText"><span>' + sampleText + '</span></p>';

    $("#textInput").val("");
    $("#chatbox").append(userHtml);
    // document.getElementById("chat-bar-bottom").scrollIntoView(true);
    document.querySelector(".powered").scrollIntoView(true);


    //Uncomment this if you want the bot to respond to this buttonSendText event
    // setTimeout(() => {
    //     getHardResponse(sampleText);
    // }, 1000)
}

function sendButton() {
    getResponse();
}

// Press enter to send a message
$("#textInput").keypress(function (e) {
    console.log("key pressed ", e);
    if (e.which == 13) {
        getResponse();
    }
});
</script>

<script src="{% static 'appearance/node_modules/jquery/dist/jquery.min.js' %}" type="text/javascript"></script>
<script src="{% static 'appearance/node_modules/bootstrap/dist/js/bootstrap.min.js' %}" type="text/javascript"></script>
<script src="{% static 'appearance/packages/jquery.scrollview.js' %}" type="text/javascript"></script>

<script src="{% static 'appearance/node_modules/jquery-lazyload/jquery.lazyload.js' %}" type="text/javascript"></script>
<script src="{% static 'appearance/node_modules/jquery-lazyload/jquery.scrollstop.js' %}" type="text/javascript"></script>

<script src="{% static 'appearance/node_modules/@fancyapps/fancybox/dist/jquery.fancybox.min.js' %}" type="text/javascript"></script>
<script src="{% static 'appearance/node_modules/select2/dist/js/select2.min.js' %}" type="text/javascript"></script>
<script src="{% static 'appearance/node_modules/toastr/build/toastr.min.js' %}" type="text/javascript"></script>
<script src="{% static 'appearance/node_modules/jquery-match-height/dist/jquery.matchHeight-min.js' %}" type="text/javascript"></script>
<script src="{% static 'appearance/node_modules/@fortawesome/fontawesome-free/js/all.min.js' %}" data-auto-replace-svg="nest" type="text/javascript"></script>
<script src="{% static 'appearance/node_modules/urijs/src/IPv6.js' %}" type="text/javascript"></script>
<script src="{% static 'appearance/node_modules/urijs/src/punycode.js' %}" type="text/javascript"></script>
<script src="{% static 'appearance/node_modules/urijs/src/SecondLevelDomains.js' %}" type="text/javascript"></script>
<script src="{% static 'appearance/node_modules/urijs/src/URI.js' %}" type="text/javascript"></script>
<script src="{% static 'appearance/node_modules/urijs/src/URITemplate.js' %}" type="text/javascript"></script>
<script src="{% static 'appearance/node_modules/urijs/src/URI.fragmentURI.js' %}" type="text/javascript"></script>
<script src="{% static 'appearance/node_modules/jquery-form/dist/jquery.form.min.js' %}" type="text/javascript"></script>
<script src="{% static 'appearance/js/mayan_app.js' %}" type="text/javascript"></script>
<script src="{% static 'appearance/js/partial_navigation.js' %}" type="text/javascript"></script>

<script src="{% url 'locales:javascript_catalog' 'mayan.apps.appearance' %}" type="text/javascript"></script>

<script>
    'use strict';

    {# Transfer variable from Django to javascript #}
    const djangoDEBUG = {% if debug %}true{% else %}false{% endif %};

    {% smart_setting "APPEARANCE_AJAX_REDIRECTION_CODE" as appearance_ajax_redirection_code %}
    {% smart_setting "APPEARANCE_MENU_POLLING_INTERVAL" as appearance_menu_polling_interval %}
    {% smart_setting "APPEARANCE_THROTTLING_MAXIMUM_REQUESTS" as appearance_throttling_maximum_requests %}
    {% smart_setting "APPEARANCE_THROTTLING_TIMEOUT" as appearance_throttling_timeout %}
    {% smart_setting "COMMON_HOME_VIEW" as common_home_view %}

    const app = new MayanApp({
        ajaxMenusOptions: [
            {
                callback: function (options) {
                    MayanApp.updateNavbarState();
                },
                interval: {% if menu_polling_interval == 'None' %}null{% else %}{{ appearance_menu_polling_interval }}{% endif %},
                menuSelector: '#menu-main',
                name: 'menu_main',
                url: '{% url "rest_api:template-detail" "menu_main" %}'
            },
            {
                interval: {% if menu_polling_interval == 'None' %}null{% else %}{{ appearance_menu_polling_interval }}{% endif %},
                menuSelector: '#menu-topbar',
                name: 'menu_topbar',
                url: '{% url "rest_api:template-detail" "menu_topbar" %}'
            },
        ],
        messagePosition: '{% smart_setting "APPEARANCE_MESSAGE_POSITION" %}',
    });

    const partialNavigation = new PartialNavigation({
        initialURL: '{% url common_home_view %}',
        disabledAnchorClasses: [
            'btn-multi-item-action', 'disabled', 'pagination-disabled'
        ],
        excludeAnchorClasses: ['fancybox', 'new_window', 'non-ajax'],
        redirectionCode: {{ appearance_ajax_redirection_code }},
        maximumAjaxRequests: {{ appearance_throttling_maximum_requests }},
        ajaxRequestTimeout: {{ appearance_throttling_timeout }},
        ajaxThrottlingMessage: gettext('Too many pending requests. Additional requests will be blocked until a pending one is completed or after the cooling off period ends.')
    });

    app.addAfterBaseLoadCallback({func: app.doToastrMessages, self: app});
    app.addAfterBaseLoadCallback({func: app.resizeFullHeight, self: app});
    app.addAfterBaseLoadCallback({func: app.setupSelect2, self: app});
    app.addAfterBaseLoadCallback({func: app.setupScrollView, self: app});
    app.addAfterBaseLoadCallback({func: app.setupListToolbar, self: app});

    jQuery(document).ready(function() {
        app.initialize();
    });

    // Add invisible bootstrap messages to copy the styles to toastr.js.
    $('body').append('<div id="div-javascript-dynamic-content"></div>');
    $('#div-javascript-dynamic-content').html('\
        <div class="hidden alert alert-success">\
            <p>text</p>\
        </div>\
        <div class="hidden alert alert-info">\
            <p>text</p>\
        </div>\
        <div class="hidden alert alert-danger">\
            <p>text</p>\
        </div>\
        <div class="hidden alert alert-warning">\
            <p>text</p>\
        </div>\
    ');

    // Copy the bootstrap style from the sample alerts to toaster.js via
    // dynamic document style tag.
    $('head').append('\
        <style>\
            .toast-success {\
                background-color: ' + $('.alert-success').css('background-color') +'\
            }\
            .toast-info {\
                background-color: ' + $('.alert-info').css('background-color') +'\
            }\
            .toast-error {\
                background-color: ' + $('.alert-danger').css('background-color') +'\
            }\
            .toast-warning {\
                background-color: ' + $('.alert-warning').css('background-color') +'\
            }\
        </style>\
    ');
    $('#div-javascript-dynamic-content').remove();

    jQuery(document).ready(function() {
        $('body').on('keyup', '.appearance-input-search-clearable input[type="search"]', function (event) {
            const $this = $(this);
            const $spanInputSearchClear = $this.next('.appearance-input-search-clear');

            if ($this.val()) {
                $spanInputSearchClear.show();

            } else {
                $spanInputSearchClear.hide();
            }
        });

        $('body').on('click', '.appearance-input-search-clearable .appearance-input-search-clear', function (event) {
            const $this = $(this);
            const $inputSearch = $this.prev('input[type="search"]');

            $inputSearch.val('').trigger('keyup').focus();
            if ($inputSearch.data('submit-on-clear')) {
                $(this).parents('form').submit();
            }
        });
    });

    const appearanceSanitizeHTML = function (text) {
      return $('<div>').text(text).html();
    }
</script>