{% load static %}
<link rel="stylesheet" href=" {% static 'css/chat.css' %} ">
<!-- <link rel="stylesheet" href=" {% static 'css/home.css' %} "> -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> -->
<script src=" {% static 'scripts/responses.js' %} "></script>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />

<style>
    .content{
        background-color: transparent;
    }
    .chat-bar-collapsible{
        background-color: transparent;
        
        box-shadow: none;
        margin-bottom: 40px !important;
        margin-right: -30px;
    }
    #circle-chat-button{
        position: fixed;
        right: 22px;
        bottom: 30px;
        width: 50px;
        z-index: 9999;
        height: 50px;
        border-radius: 34px;
        display: flex;
        background-image: url(https://s.cafebazaar.ir/images/icons/com.auto.bot.answer.chatgpt-7eca1f54-1d93-45b8-8e8d-767d6ba9ee02_512x512.png?x-img=v1/resize,h_256,w_256,lossless_false/optimize);
        align-items: center;
        justify-content: center;
        background-size: cover;
        border: 2px solid #009199;
        background-position-x: -1px;
      }

      #ai-chat-button{
        width: 55px;
        height: 32px;
        border: 1px solid #04724D;
        color: #04724D !important;
        background: #ebf4f1 !important;
        padding: 4px 12px;
        z-index: 9999;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 4px;
      }

      .outer-chat-container{
        width: 353px;
        height: 600px;
        top: 140px;
        left: 911px;
        border: 1px solid #04724D;
        padding: 16px;
        position: relative;
      }

      .chat-container{
        max-height: 40vh !important;
        width: 30vw;
        height: 75vh;
        gap: 16px;
      }

      #userInput {
        width: 321px !important;
      }

      #startButton {
        border-radius: 0px !important;
      }

      .input-box{
        border: 1px solid #cbcbcb !important;
        border-radius: 1px !important;

        width: 269px !important;
        height: 40px !important;
      }

</style>
{% load static %}
<link rel="stylesheet" href="{% static 'css/chat.css' %}">
<!-- <link rel="stylesheet" href="{% static 'css/home.css' %}"> -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> -->
<script src="{% static 'scripts/responses.js' %}"></script>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />

<style>
    .content {
        background-color: transparent;
    }

    .chat-bar-collapsible {
        background-color: transparent;
        box-shadow: none;
        margin-bottom: 40px !important;
        margin-right: -30px;
    }

    #circle-chat-button {
        position: fixed;
        right: 22px;
        bottom: 30px;
        width: 50px;
        z-index: 9999;
        height: 50px;
        border-radius: 34px;
        display: flex;
        background-image: url(https://s.cafebazaar.ir/images/icons/com.auto.bot.answer.chatgpt-7eca1f54-1d93-45b8-8e8d-767d6ba9ee02_512x512.png?x-img=v1/resize,h_256,w_256,lossless_false/optimize);
        align-items: center;
        justify-content: center;
        background-size: cover;
        border: 2px solid #009199;
        background-position-x: -1px;
    }

    #ai-chat-button {
        width: 55px;
        height: 32px;
        border: 1px solid #04724D;
        color: #04724D !important;
        background: #ebf4f1 !important;
        padding: 4px 12px;
        z-index: 9999;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 4px;
    }

    .outer-chat-container {
        width: 353px;
        height: 600px;
        top: 140px;
        left: 911px;
        border: 1px solid #04724D;
        padding: 16px;
        position: relative;
    }

    .chat-container {
        max-height: 40vh !important;
        width: 30vw;
        height: 75vh;
        gap: 16px;
    }

    #userInput {
        width: 321px !important;
    }

    #startButton {
        border-radius: 0px !important;
    }

    .input-box {
        border: 1px solid #cbcbcb !important;
        border-radius: 1px !important;
        width: 269px !important;
        height: 40px !important;
    }
</style>
{% load navigation_tags %}
{% navigation_resolve_menus names='object,secondary' sort_results=True as action_menus_link_results %}

<div class="pull-right btn-group" id="menu-actions" style="position: fixed; right: 20px; top: 13px; z-index: 999; margin-top: 62px; margin-right: -7px;">
    {% if action_menus_link_results %}
    {% include 'navigation/actions_dropdown.html' %}
    {% endif %}

    <div class="pull-right btn-group">
        <button id="ai-chat-button" type="button">
            <img id="doc-chain-logo" src="{% static 'appearance/images/ai-logo.svg' %}" />
            AI</button>
    </div>
</div>
<div class="clearfix"></div>

<script>
    // Collapsible
    var cht_inp = document.getElementById("containrt-chat");
    var coll = document.getElementsByClassName("collapsible");
    var extend = document.getElementById("extend-btn");
    var close_btn = document.getElementById("close-btn");
    var circle_btn = document.getElementById("ai-chat-button");

    circle_btn.addEventListener("click", function () {
        // Loop through each element with class name "content"
        var contents = document.getElementsByClassName("content");
        for (var i = 0; i < contents.length; i++) {
            var content = contents[i];
            if (content.style.maxHeight) {
                // If the chat is closing, clear the chat content
                content.style.maxHeight = null;
                content.classList.remove("content-open");
                cht_inp.style.display = "none";
                document.getElementById("chatbox").innerHTML = ""; // Clear chat content
                let firstMessage = "📁 Welcome to docuBuddy! Need answers about your documents? I'm your digital guide through the maze of files. Ask me anything, and I'll unlock the secrets hidden within your uploads. Let's navigate the paperwork jungle together! 🌟"

                $("#chatbox").append(`<p class="botText"><div style="color: #fff; padding: 12px; background: #04724D; width: 267px; margin-left: 10px; display: flex; border-radius: 4px; align-items: flex-start; justify-content: flex-start; text-align: justify; flex-direction: column; font-size: 12px; font-weight: 400;">` + firstMessage + '</div></p>');
                circle_btn.style.backgroundPosition = "-1px 0px";
                circle_btn.style.backgroundSize = "cover";
            } else {
                content.classList.add("content-open");
                content.style.maxHeight = "80vh";
                cht_inp.style.display = "flex";
                firstBotMessage(); // Reinitialize the first message
                circle_btn.style.backgroundPosition = "-3px -3px";
                cht_inp.style.backgroundSize = "52px";
            }
        }
    });

    function getTime() {
        let today = new Date();
        let hours = today.getHours();
        let minutes = today.getMinutes();

        if (hours < 10) {
            hours = "0" + hours;
        }

        if (minutes < 10) {
            minutes = "0" + minutes;
        }

        return hours + ":" + minutes;
    }

    // Gets the first message
    function firstBotMessage() {
        let firstMessage = "📁 Welcome to docuBuddy! Need answers about your documents? I'm your digital guide through the maze of files. Ask me anything, and I'll unlock the secrets hidden within your uploads. Let's navigate the paperwork jungle together! 🌟"
        document.getElementById("botStarterMessage").innerHTML = `<p class="botText"><div style="color: #fff; padding: 12px; background: #04724D; width: 267px; margin-left: 10px; display: flex; border-radius: 4px; align-items: flex-start; justify-content: flex-start; text-align: justify; flex-direction: column; font-size: 12px; font-weight: 400;">` + firstMessage + '</div></p>';

        let time = getTime();

        $("#chat-timestamp").append(time);
        document.getElementById("userInput").scrollIntoView(false);
        document.getElementById("chat-bar-bottom").scrollIntoView({
            behavior: "smooth",
            block: "center",
            inline: "nearest"
        });
    }

    firstBotMessage(); // Initialize the first message when the page loads

    // Retrieves the response
    function getHardResponse(userText) {
        let botResponse = getBotResponse(userText);
        document.getElementById("chat-bar-bottom").scrollIntoView({
            behavior: "smooth",
            block: "center",
            inline: "nearest"
        });
    }

    // Gets the text from the input box and processes it
    function getResponse() {
        let userText = $("#textInput").val();

        if (userText == "") {
            return;
        }

        let userHtml = '<p class="userText"><span>' + userText + '</span></p>';

        $("#textInput").val("");
        $("#chatbox").append(userHtml);
        document.getElementById("chat-bar-bottom").scrollIntoView(true);

        setTimeout(() => {
            getHardResponse(userText);
        }, 1000)

    }

    // Handles sending text via button clicks
    function buttonSendText(sampleText) {
        let userHtml = '<p class="userText"><span>' + sampleText + '</span></p>';

        $("#textInput").val("");
        $("#chatbox").append(userHtml);
        document.getElementById("chat-bar-bottom").scrollIntoView(true);
    }

    function sendButton() {
        getResponse();
    }

    // Press enter to send a message
    $("#textInput").keypress(function (e) {
        if (e.which == 13) {
            getResponse();
        }
    });
</script>
