{% load i18n %}

{% load common_tags %}
{% load templating_tags %}

<style>
    .custom-style{
        border: none;
        box-shadow: none;
        font-size: 13px !important;
        color: #4d4d4d !important;
        border-radius: 0px !important;
        letter-spacing: 0.3px !important;
    }
    .custom-style:hover{
        font-size: 13px !important;
        background: #F0F0F0 !important;
        color: #000000;
        letter-spacing: 0.3px !important;
    }
    .list-group-item.active{
        background: #F0F0F0 !important;
        border: none;
        font-size: 13px !important;
        color: #000000;
        font-weight: 500;
        border-left: 4px solid #04724D !important;
        letter-spacing: 0.3px !important;
    }
    .list-group-item.active:hover{
        background: #F0F0F0 !important;
        border: none;
        font-size: 13px !important;
        color: #000000;
        font-weight: 500;
        letter-spacing: 0.3px !important;
        border-left: 4px solid #04724D !important;
    }
    #sidebar::-webkit-scrollbar {
        width: 5px; /* Width of the scrollbar */
    }
    
    /* Track */
    #sidebar::-webkit-scrollbar-track {
        background: #ffffff00; /* Color of the track */
    }
    
    /* Handle */
    #sidebar::-webkit-scrollbar-thumb {
        background: #04724d; /* Color of the scrollbar handle */
    }
    
    /* Handle on hover */
    #sidebar::-webkit-scrollbar-thumb:hover {
        background: #5cae93; /* Color of the scrollbar handle on hover */
    }
</style>

{% if sidebar_menus_link_results %}
    <div id="sidebar">
        <ul class="list-group">
            {% for menu_link_result in sidebar_menus_link_results %}
                {% for link_group in menu_link_result.link_groups %}
                    {% if menu_link_result|length > 1 %}
                        {% if menu_link_result.menu.name not in 'facet,list facet'|split:"," %}
                            <li class="dropdown-header">{{ menu_link_result.menu.label }}</li>
                        {% else %}
                            {% ifchanged link_group.object %}
                                {% common_get_object_verbose_name obj=link_group.object as link_group_object_verbose_name %}
                                <!-- <li class="dropdown-header">{% if link_group_object_verbose_name %}{{ link_group_object_verbose_name }}{% else %}{% trans 'Object' %}{% endif %}</li> -->
                            {% endifchanged %}
                        {% endif %}
                    {% endif %}

                    {% with link_group.links as object_navigation_links %}
                    {% with 'true' as hide_active_anchor %}
                    {% with 'active' as link_class_active %}
                    {% with 'list-group-item btn-sm custom-style' as link_classes %}
                    {% with 'true' as as_li %}
                        {% include 'navigation/generic_navigation.html' %}
                    {% endwith %}
                    {% endwith %}
                    {% endwith %}
                    {% endwith %}
                    {% endwith %}
                {% endfor %}
            {% endfor %}
        </ul>
    </div>
{% endif %}
