{% load i18n %}

{% load views_tags %}

{% views_calculate_title as result %}

{% if not non_html_title %}
    <div style="display: flex;">
        <button id="main-menu-button-open">
            <span class="sr-only">{% trans 'Open main menu' %}</span>
            <i aria-hidden="true" data-hidden="true" class="fa fa-bars"></i>
        </button>
{% endif %}

{% if not non_html_title and result.title %}
        <div style="display: flex; margin-bottom: -5px; width: 109%; margin-left: -23px; padding-left: 34px; background: #FFFFFF; align-items: center;">
            {% if result.title_full == "Home" %}
                <h3 id="content-title" title='Dashboard'>
            {% else %}
                <h3 id="content-title" title='{{ result.title_full }}'>
            {% endif %}
{% endif %}
{% if result.title_full == "Home" %}
    <span id="appearance-title-text" style="font-weight: 600; font-size: 20px;">Dashboard</span>
{% else %}
    <span id="appearance-title-text" style="font-weight: 600; font-size: 20px;">{{ result.title }}</span>
{% endif %}


{% if not non_html_title and result.title %}
            </h3>
            {% if subtitle %}
                <p>
                    <small>{{ subtitle }}</small>
                </p>
            {% endif %}
{% endif %}

{% if not non_html_title %}
        </div>
    </div>
    {% if title or subtitle %}<hr style="height: 1px; width: 109%; background-color: #e6e6e6; margin-left: -22px;"/>{% endif %}
{% endif %}
