{% load i18n %}

{% load views_tags %}

{% views_calculate_title as result %}

{% if not non_html_title %}
    <div style="display: flex;">
        <button id="main-menu-button-open">
            <span class="sr-only">{% trans 'Open main menu' %}</span>
            <i aria-hidden="true" data-hidden="true" class="fa fa-bars"></i>
        </button>
{% endif %}       
{% if not non_html_title and result.title %}
        <div class="title-container">
            {% if result.title_full == "Home" %}
                <h3 id="content-title" style="margin-top: 0px;" title='Dashboard'>
            {% else %}
                <h3 id="content-title" style="margin-top: 0px;" title='{{ result.title_full }}'>
            {% endif %}
{% endif %}
{% if result.title_full == "Home" %}
    <span id="appearance-title-text" style="font-weight: 600; font-size: 20px;">Dashboard</span>
{% else %}
    <span id="appearance-title-text" style="font-weight: 600; font-size: 20px;">{{ result.title }}</span>
{% endif %}


{% if not non_html_title and result.title %}
            </h3>
            {% if subtitle %}
                <p>
                    <small>{{ subtitle }}</small>
                </p>
            {% endif %}
{% endif %}

{% if not non_html_title %}
        </div>
    </div>
    {% if title or subtitle %}<hr style="height: 1px; width: 150%; background-color: #E0E0E0; margin-left: -22px; margin-top: -0.5px;"/>{% endif %}
{% endif %}

<style>
    .title-container {
        display: flex;
        background: #FFFFFF;
        height: 58px !important;
        margin-top: -1px !important;
        margin-left: -12px !important;
        width: 110% !important;
        align-items: center;
        padding: 16px !important;
        color: #000000 !important;
        font-size: 20px !important;
    }
</style>