{% extends 'appearance/base.html' %}
<link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
{% load views_tags %}

{% block title %}{% include 'appearance/partials/form_title.html' with non_html_title=True %}{% endblock %}
{% block content %}
<div style="background-color: #f8f8f8; padding: 1rem;">
    <div style="margin-top: 68px !important;; max-width: 2xl; margin: 0 auto; background-color: #fff; padding: 2rem; border-radius: 0.375rem; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);">
        <div style="max-height: 15rem; overflow-y: auto; font-size: 1.25rem; color: #4a5568;">
            <!-- Your long text content here -->
        </div>
        <p style="font-size: 1.25rem; color: black; margin-top: 1rem; text-align: justify;">
            {% if type != 'ocr' %}
                {{ content }}
            {% else %}
                <pre style="color: black; white-space: pre-wrap; font-family: 'Courier New', Courier, monospace; text-align: left; background: white; border: 2px solid #e6e6e6;">
                    {{ content }}
                </pre>
            {% endif %}
        </p>
    </div>
</div>

{% endblock %}
