{% load static %}
<link rel="stylesheet" href=" {% static 'css/chat.css' %} ">
<link rel="stylesheet" href=" {% static 'css/home.css' %} ">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src=" {% static 'scripts/responses.js' %} "></script>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />

<style>
    .content{
        background-color: transparent;
    }
    .chat-bar-collapsible{
        background-color: transparent;
        box-shadow: none;
        margin-bottom: 79px;
        margin-right: -32px;
    }
    #circle-chat-button{
        position: fixed;
        right: 22px;
        bottom: 30px;
        width: 50px;
        z-index: 9999;
        height: 50px;
        border-radius: 34px;
        display: flex;
        background-image: url(https://s.cafebazaar.ir/images/icons/com.auto.bot.answer.chatgpt-7eca1f54-1d93-45b8-8e8d-767d6ba9ee02_512x512.png?x-img=v1/resize,h_256,w_256,lossless_false/optimize);
        align-items: center;
        justify-content: center;
        background-size: cover;
        border: 2px solid #009199;
        background-position-x: -1px;
      }
      
</style>
{% load navigation_tags %}
{% navigation_resolve_menus names='object,secondary' sort_results=True as action_menus_link_results %}
<div class="pull-right btn-group" id="menu-actions">
        {% if action_menus_link_results %}
        {% include 'navigation/actions_dropdown.html' %}
        {% endif %}
        <div class="pull-right btn-group">TestCode</div>
        <div class="pull-right btn-group">
            <button id="ai-chat-button" type="button">AI</button>
            <button id="circle-chat-button" type="button">

            </button>       
            <div class="chat-bar-collapsible" style="background-color: transparent; box-shadow: none;">
            
                <button id="chat-button" type="button" class="collapsible" style="background-color: transparent;border:none;">
                    
                </button>
            
                <div class="content" style="box-shadow: -1px 2px 20px #00000033;border-radius: 11px;">
                    <div class="full-chat-block" style="width: 100%; border-radius: 8px; border: 1px solid #eaeaea; background: #ffffff;">
                        <p style="text-align: start; padding: 11px; font-size: 16px; font-weight: 800;">Welcome to DocuBuddy chat !</p>
                        <!-- Message Container -->
                        <div class="outer-container" style="min-height: 581px;">
                            <div class="chat-container">
                                <!-- Messages -->
                                <div id="chatbox">
                                    <!-- <h5 id="chat-timestamp"></h5> -->
                                    <p id="botStarterMessage" class="botText"><span>Loading...</span></p>
                                </div>
                                
                                {% csrf_token %}
                                <!-- Start voice input button -->
            
                                <!-- User input box -->
                                <div class="chat-bar-input-block" style="position: sticky; background-size: 52px; bottom: 0;">
                                    <div>
                                        <div id="userInput" style="display: flex; flex-direction: row; justify-content: flex-start; align-items: center; width: 352px; background: #ffffff; padding: 10px; border: 1px solid #e3e4e4; gap: 10px; border-left: none;">
                                            <input id="textInput" class="input-box" type="text" name="msg" placeholder="Ask your query...">
                                            <button id="startButton" style="padding: 0px 7px; display: flex; align-items: center; height: 45px; justify-content: center; width: 46px; color: #ffffff; border-radius: 10px; border: none; background: #04724d;" onclick="sendButton()">
                                                <span class="material-symbols-outlined">
                                                    send
                                                </span>
                                            </button>
                                        </div>
                                        <p class="powered">Powered by AI </p>
                                    </div>
            
                                    <!-- <div class="chat-bar-icons"> -->
            
                                        <!-- <button id="startButton" style="    padding: 0px 7px;
                                        border-radius: 14px;"><i id="voiceInputIcon" class="fas fa-send"></i></button>
            
                                        <button id="startButton" style="    padding: 0px 7px;
                                        border-radius: 14px;"><i id="chat-icon" style="color: #333;" class="fas fa-fw fa-send"
                                            onclick="sendButton()"></i> -->
                                    <!-- </div> -->
                                </div>
            
                                <!-- <div id="chat-bar-bottom">
                                    <p></p>
                                </div> -->
            
                            </div>
                        </div>
            
                    </div>
                </div>
            
            </div>
            
            <script>
                // Collapsible
            var coll = document.getElementsByClassName("collapsible");
            var extend = document.getElementById("extend-btn");
            var close_btn = document.getElementById("close-btn");
            var circle_btn = document.getElementById("circle-chat-button");
            
            circle_btn.addEventListener("click", function () {
                // Loop through each element with class name "content"
                var contents = document.getElementsByClassName("content");
                for (var i = 0; i < contents.length; i++) {
                    var content = contents[i];
                    if (content.style.maxHeight) {
                        content.style.maxHeight = null;
                        circle_btn.style.backgroundImage = "url(https://s.cafebazaar.ir/images/icons/com.auto.bot.answer.chatgpt-7eca1f54-1d93-45b8-8e8d-767d6ba9ee02_512x512.png?x-img=v1/resize,h_256,w_256,lossless_false/optimize)"
                        circle_btn.style.backgroundPosition = "-1px 0px";
                        circle_btn.style.backgroundSize = "cover";
                    } else {
                        content.style.maxHeight = content.scrollHeight + "px";
                        circle_btn.style.backgroundPosition = "-3px -3px";
                        circle_btn.style.backgroundSize = "52px";
                        circle_btn.style.backgroundImage = "url(https://cdn-icons-png.flaticon.com/256/4210/4210923.png)"
                    }
                }
            });
            
            var count = 0
            for (let i = 0; i < coll.length; i++) {
                coll[i].addEventListener("click", function () {
                    this.classList.toggle("active");
                    if (count%2 === 0){
                        close_btn.style.display = 'block';
                        extend.style.display = 'none';
                    }else{
                        close_btn.style.display = 'none';
                        extend.style.display = 'block';
                    }
                    count++;
                    console.log("samopke", count)
            
                    var content = this.nextElementSibling;
            
                    if (content.style.maxHeight) {
                        content.style.maxHeight = null;
                    } else {
                        content.style.maxHeight = content.scrollHeight + "px";
                    }
            
                });
            }
            
            function getTime() {
                let today = new Date();
                hours = today.getHours();
                minutes = today.getMinutes();
            
                if (hours < 10) {
                    hours = "0" + hours;
                }
            
                if (minutes < 10) {
                    minutes = "0" + minutes;
                }
            
                let time = hours + ":" + minutes;
                return time;
            }
            
            // Gets the first message
            function firstBotMessage() {
                let firstMessage = "📁 Welcome to docuBuddy! Need answers about your documents? I'm your digital guide through the maze of files. Ask me anything, and I'll unlock the secrets hidden within your uploads. Let's navigate the paperwork jungle together! 🌟"
                document.getElementById("botStarterMessage").innerHTML = `<p class="botText"><div style="color: #585d63; padding: 10px; background: #ececed; width: 290px; margin-left: 10px; display: flex; border-radius: 0px 20px 20px 12px; align-items: flex-start; justify-content: flex-start; text-align: justify; flex-direction: column; font-size: 12px; font-weight: 500;">` + firstMessage + '</div></p>';
            
                let time = getTime();
            
                $("#chat-timestamp").append(time);
                document.getElementById("userInput").scrollIntoView(false);
                document.getElementById("chat-bar-bottom").scrollIntoView({ behavior: "smooth", block: "center", inline: "nearest" });
            }
            
            firstBotMessage();
            
            // Retrieves the response
            function getHardResponse(userText) {
                let botResponse = getBotResponse(userText);
                document.querySelector(".powered").scrollIntoView(true);
                document.getElementById("chat-bar-bottom").scrollIntoView({ behavior: "smooth", block: "center", inline: "nearest" });
            }
            
            
            //Gets the text text from the input box and processes it
            function getResponse() {
                let userText = $("#textInput").val();
            
                if (userText == "") {
                    return;
                }
            
                let userHtml = '<p class="userText"><span>' + userText + '</span></p>';
            
                $("#textInput").val("");
                $("#chatbox").append(userHtml);
                document.getElementById("chat-bar-bottom").scrollIntoView(true);
            
                setTimeout(() => {
                    getHardResponse(userText);
                }, 1000)
            
            }
            
            // Handles sending text via button clicks
            function buttonSendText(sampleText) {
                let userHtml = '<p class="userText"><span>' + sampleText + '</span></p>';
            
                $("#textInput").val("");
                $("#chatbox").append(userHtml);
                document.getElementById("chat-bar-bottom").scrollIntoView(true);
            
                //Uncomment this if you want the bot to respond to this buttonSendText event
                // setTimeout(() => {
                //     getHardResponse(sampleText);
                // }, 1000)
            }
            
            function sendButton() {
                getResponse();
            }
            
            // Press enter to send a message
            $("#textInput").keypress(function (e) {
                if (e.which == 13) {
                    getResponse();
                }
            });
            </script>
        </div>
        
        
    </div>
    <div class="clearfix"></div>
