{% load i18n %}
{% load static %}

{% load appearance_tags %}
{% load common_tags %}
{% load navigation_tags %}
{% load smart_settings_tags %}

{% smart_setting "COMMON_COLLAPSE_LIST_MENU_LIST_FACET" as setting_common_collapse_list_menu_list_facet %}
{% smart_setting "COMMON_COLLAPSE_LIST_MENU_OBJECT" as setting_common_collapse_list_menu_object %}

<style>
    .grid-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr); /* 4 elements per row by default */
        grid-gap: 10px; /* Gap between grid items */
    }
    
    @media (max-width: 768px) {
        .grid-container {
            grid-template-columns: repeat(2, 1fr); /* 2 elements per row for screens up to 768px */
        }
    }
    
    @media (max-width: 480px) {
        .grid-container {
            grid-template-columns: repeat(1, 1fr); /* 1 element per row for screens up to 480px */
        }
    }
</style>

<div class="row" style="background-color: #F8F8F8;">
    <div class="col-xs-12" style="background-color: #F8F8F8;">
        {% if not object_list %}
            {% include 'appearance/partials/list/header.html' %}
            <div class="well">
                {% include 'appearance/partials/list/no_results.html' %}
            </div>
        {% else %}
            {% include 'appearance/partials/list/header.html' %}

            {% navigation_resolve_menu name='multi item' sort_results=True source=object_list.0 as links_multi_menus_results %}

            {% navigation_get_source_columns source=object_list only_identifier=True as source_columns_identifier %}
            {% navigation_get_source_columns source=object_list exclude_identifier=True as source_columns_non_identifier %}

            <div class="well center-block" style="background: #F8F8F8">
                <div class="row-items grid-container">
                    {% for object in object_list %}
                        {% include 'appearance/partials/list/panel/single.html' %}
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    </div>
</div>

<script>
    'use strict';

    $(function() {
        $('.row-items > [class*="col"] .panel-item .panel-heading').matchHeight();
        $('.row-items > [class*="col"] .panel-item .panel-body').matchHeight();
        $('.row-items > [class*="col"] .panel-item').matchHeight();
    });
</script>
