{% load i18n %}

{% load appearance_tags %}
{% load navigation_tags %}
{% load views_tags %}

<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

<div id="list-toolbar-spacer"></div>
<nav id="list-toolbar">
    <div class="well center-block toolbar" style="display: flex; align-items: center; flex-direction: row; background: #F8F8F8; width: 100%; border: none; box-shadow: none; justify-content: space-between;">

        {% appearance_app_templates template_name='list_toolbar' %}

        <div>
            <div class="pull-left">
                <div class="btn-toolbar" role="toolbar" style="margin-right: 10px;">
                    <div class="btn-group">
                        <!-- <a class="btn btn-default btn-sm" href="{% views_get_list_mode_querystring %}" title="{% trans 'Toggle list display mode' %}" style="gap: 8px;background-color: #0000000A; border: none; color: black; font-weight: 400; width: 138px; height: 32px; font-size: 12px; display: flex; align-items: center; justify-content: center; border-radius: 4px;">
                            <span class="material-symbols-outlined">
                                ballot
                            </span> Show List View
                        </a> -->
                    </div>
                </div>
            </div>
    
            {% include 'appearance/partials/list/pagination.html' %}
        </div>
        
        {% if links_multi_menus_results %}
            <div class="pull-right btn-group" id="multi-item-actions" style="display: none;">
                <button aria-expanded="true" class="btn btn-danger btn-sm dropdown-toggle" data-toggle="dropdown" type="button" style="border: none; border-radius: 0px; display: flex; align-items: center; justify-content: center; flex-direction: row; gap: 15px; height: 35px;">
                    {% trans 'Bulk actions' %}
                    <span class="caret"></span>
                    <span class="sr-only">{% trans 'Toggle Dropdown' %}</span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    {% for multi_item_menu_results in links_multi_menus_results %}
                        {% for link_group in multi_item_menu_results.link_groups %}
                            {% with link_group.links as object_navigation_links %}
                            {% with 'true' as as_li %}
                            {% with 'true' as hide_active_anchor %}
                            {% with 'btn-sm btn-multi-item-action' as link_classes %}
                                {% include 'navigation/generic_navigation.html' %}
                            {% endwith %}
                            {% endwith %}
                            {% endwith %}
                            {% endwith %}
                        {% endfor %}
                        {% if not forloop.last and link_group %}
                            <li class="divider"></li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

    </div>
</nav>
