{% load i18n %}

{% load appearance_tags %}
{% load navigation_tags %}
{% load views_tags %}

<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

<div id="list-toolbar-spacer"></div>
<nav id="list-toolbar">
    <div class="well center-block toolbar" style="display: flex; align-items: center; flex-direction: row; background: #F8F8F8; width: 100%; border: none; box-shadow: none; justify-content: space-between;">

        {% appearance_app_templates template_name='list_toolbar' %}

        <div>
            <div class="pull-left">
                <div class="btn-toolbar" role="toolbar" style="margin-right: 10px;">
                    <div class="btn-group">
                        <a class="btn btn-default btn-sm" href="{% views_get_list_mode_querystring %}" title="{% trans 'Toggle list display mode' %}" style="gap: 8px;background-color: #0000000A; border: none; color: black; font-weight: 400; width: 138px; height: 32px; font-size: 12px; display: flex; align-items: center; justify-content: center; border-radius: 4px;">
                            <span class="material-symbols-outlined">
                                ballot
                            </span> Show List View
                        </a>
                    </div>
                </div>
            </div>
    
            {% include 'appearance/partials/list/pagination.html' %}
        </div>


    </div>
</nav>
