{% load i18n %}
{% load static %}

{% load appearance_tags %}
{% load common_tags %}
{% load navigation_tags %}
{% load smart_settings_tags %}
{% load templating_tags %}

{% spaceless %}


<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">

<style>
        *{
            font-family: "Inter", sans-serif;
        }
</style>

<script>
    if (typeof partialNavigation === 'undefined') {
        /* Check if the template was not loaded via AJAX
         * If not then reload the root path passing the
         * current location's path as the new hash
         */
        document.write('<script type="text/undefined">')
        const currentPath = window.location.pathname + window.location.search;
        {% smart_setting "ORGANIZATIONS_URL_BASE_PATH" as base_url %}
        window.location = '/{{ base_url|default:"" }}#' + currentPath;
    }
</script>

{% block stylesheets %}{% endblock %}

<style>
    {% appearance_get_user_theme_stylesheet user=request.user %}
</style>

{% if appearance_type != 'plain' %}
    <div class="">
        {% navigation_resolve_menus names='facet,list facet,related,return,sources' sort_results=True as sidebar_menus_link_results %}
        <div class="row zero-margin" style="background-color: #F8F8F8;">
            <div class="col-xs-12 {% if sidebar_menus_link_results %}has-sidebar{% endif %}" id="viewport" style="height: 100vh;">
                <div class="row zero-margin" style="background-color: #F8F8F8;">
                    <div class="col-xs-12" style="background-color: #F8F8F8;">
                        {% block messages %}
                        {% endblock %}

                        {% appearance_app_templates template_name='viewport' %}
                    </div>
                </div>
                {% include 'appearance/partials/title.html' %}
                {% include 'appearance/partials/actions.html' %}
{% endif %}
                {% block content %}{% endblock content %}
{% if appearance_type != 'plain' %}
                {% block footer %}{% endblock %}
            </div>
            {% include 'appearance/partials/sidebar.html' %}
        </div>
    </div>
{% endif %}

{% block javascript %}{% endblock %}

<script>
    document.title = 'Doc Chain';

    jQuery(document).ready(function() {
        $('[data-toggle="tooltip"]').tooltip();

        let djangoMessages = [
            {% for message in messages %}
                {
                    tags: '{{ message.tags }}',
                    message: '{{ message.message }}'
                },
            {% endfor %}
        ];

        app.afterBaseLoad({'djangoMessages': djangoMessages});
    });
</script>
{% endspaceless %}
