.. _requirements:


============
Requirements
============


Minimum
=======

- RAM: 4 GB.
- CPU: dual core, 64 bit, 1 GHz, Intel Core 2 Duo or similar.
- Database manager: PostgreSQL 13.11.
- Platform: GNU/Linux distributions or operating systems that support mature
  virtualization and mature Docker with Docker Compose support.

.. note::

   Installation on devices with even lower specifications (like single
   board computer with ARM CPUs) is possible with below minimal performance
   and user experience expectations.

.. note::

   Due to the way container and virtualization technologies work, expected
   a performance penalty if these are used. For best results, use hardware
   that includes optimizations for virtualization and an operating system
   with native support for containers.

.. note::

   Docker implementations may vary depending on the host operating system.
   For best results use Docker on a well supported GNU/Linux distribution.


Recommended
===========


Docker Compose
--------------

- RAM: 16 GB or more.
- CPU: 64 bit, 8 cores or more, 2 GHz or faster, third generation "IvyBridge"
  of the Intel Core processors or better.
- Storage: solid state drive.


Enterprise
----------

Each enterprise deployment is unique and there is no single requirement
recommendation or guidance that applies to all.

Please visit https://www.mayan-edms.com/support/ to discuss your deployment
requirements.
