{% load i18n %}

{% load common_tags %}

{% trans 'Actions' as text_actions %}

<style>
    .action-btn{
        display: flex;
        width: 95px;
        height: 32px !important; 
        margin-right: 10px;
        border-radius: 0px !important;
        background: #04724D;
        border: 0px !important;
        gap: 6px;
        padding: 4px 12px 4px 12px !important;
        align-items: center;
        justify-content: center;
    }
    .action-btn[aria-expanded="true"] {
        background: white;
        color: #04724D !important;
    }
    .action-btn:hover,
    .action-btn:focus {
        background: white;
        color: white !important; /* Sets text to white */
    }
    
    .action-btn:hover .action-icon {
        color: #04724D !important; /* Sets icon to green */
    }
    .action-btn:hover .action-text,
    .action-btn:focus .action-text,
    .action-btn:focus .material-symbols-outlined {
        color: white !important; /* Ensures text stays white on hover */
    }
    .btn-default:focus{
        color: #2c3e50 !important;
    }
    @media only screen and (max-width: 706px) {
        .action-btn{
            width: 78px;
            margin-right: 9px;
        }
      }
      .icon-bth{
        color: #4b4b4b; 
        background-color: transparent !important; 
        border: none !important;
      }
      .open>.dropdown-toggle.btn-default:focus, .btn-default:focus{
        color: #179e16; 
      }
    .icon-bth:hover{
        background: transparent;
        border: none;
    }
</style>

    {% if action_dropdown_icon %}
        <button aria-expanded="false" aria-haspopup="true" class="icon-bth {{ action_dropdown_classes|default:"btn btn-default btn-danger"}} btn-sm dropdown-toggle" data-toggle="dropdown" title="{{ action_dropdown_label|default:text_actions }}" type="button">
            {{ action_dropdown_icon }}
            <span class="sr-only">{% trans 'Toggle Dropdown' %}</span>
        </button>
    {% else %}
        <button aria-expanded="false" aria-haspopup="true" class="action-btn {{ action_dropdown_classes|default:"btn btn-default btn-danger"}} btn-sm dropdown-toggle" data-toggle="dropdown" title="{{ action_dropdown_label|default:text_actions }}" type="button">
            {% if action_dropdown_label %}
                {{ action_dropdown_label }}
            {% else %}
                {{ text_actions }}
            {% endif %}
            <span class="material-symbols-outlined">expand_more</span>
            <span class="sr-only">{% trans 'Toggle Dropdown' %}</span>
        </button>
    {% endif %}
    
        

    <!-- <button aria-expanded="false" aria-haspopup="true" class="action-btn {{ action_dropdown_classes|default:"btn btn-default btn-danger"}} btn-sm dropdown-toggle" data-toggle="dropdown" title="{{ action_dropdown_label|default:text_actions }}" type="button">
        {% if action_dropdown_icon %}
            <span class="action-icon">{{ action_dropdown_icon }}</span>
        {% else %}
            {% if action_dropdown_label %}
                <span class="action-text">{{ action_dropdown_label }}</span>
            {% else %}
                <span class="action-text">{{ text_actions }}</span>
            {% endif %}
            <span class="material-symbols-outlined">expand_more</span>
        {% endif %}
        <span class="sr-only">{% trans 'Toggle Dropdown' %}</span>
    </button> -->

<ul class="dropdown-menu {{ navigation_action_dropdown_menu_css_classes_extra }}" role="menu">
    {% for menus_link_result in action_menus_link_results %}
        {% if not action_menu_disable_labels and action_menus_link_results|length > 1 %}
            <li class="dropdown-header"><strong>{{ menus_link_result.menu.label }}</strong></li>
            <li class="divider"></li>
        {% endif %}

        {% for link_group in menus_link_result.link_groups %}
            {% if not navigation_disable_menus_link_group_object_header %}
                {% if navigation_object_list %}
                    {% ifchanged link_group.object %}
                        {% common_get_object_verbose_name obj=link_group.object as link_group_object_verbose_name %}
                        {% if link_group_object_verbose_name %}<li class="dropdown-header">{{ link_group_object_verbose_name }}</li>{% endif %}
                    {% endifchanged %}
                {% endif %}
            {% endif %}

            {% with link_group.links as object_navigation_links %}
            {% with 'true' as as_li %}
            {% with 'true' as hide_active_anchor %}
            {% with 'btn btn-sm navigation-btn-dropdown' as link_classes %}
                {% include 'navigation/generic_navigation.html' %}
            {% endwith %}
            {% endwith %}
            {% endwith %}
            {% endwith %}

            {% if not forloop.last and link_group %}
                <li class="divider"></li>
            {% endif %}

        {% endfor %}
        {% if not forloop.last and menus_link_result %}
            <li class="divider"></li>
        {% endif %}
    {% endfor %}
</ul>
