{% load i18n %}

{% load common_tags %}
{% load navigation_tags %}

<style>
    .navbar-default{
        background-color: #000000 !important;
    }
    .navbar-brand{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    #ajax-spinner{
        left: 47.5px !important;
        top: 16px;
    }
</style>

{% spaceless %}
    <nav class="navbar navbar-default navbar-fixed-top" style="box-shadow: none;" style="height: 60px;">
        <div class="container-fluid">
            <div class="navbar-header">
                <button aria-expanded="false" aria-controls="navbar" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" type="button">
                    <span class="sr-only">{% trans 'Toggle navigation' %}</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div id="ajax-spinner" style="display: none;"></div>
                <a class="navbar-brand" href="{% url home_view %}"><img style="width: 40px;" src="https://github.com/NagiPragalathan/GeeksforGeeks_files/blob/main/Screenshot%20(13).png?raw=true">{% common_project_information '__title__' %}</a>
            </div>

            <div class="collapse navbar-collapse" id="navbar">
                <ul class="nav navbar-nav navbar-right" style="margin-right: -80px;">
                    {% navigation_resolve_menu name='topbar' as topbar_menus_results %}
                    {% for tobpar_menu_result in topbar_menus_results %}
                        {% for link_group in tobpar_menu_result.link_groups %}
                            {% for link in link_group.links %}
                                {% with 'true' as as_li %}
                                {% with 'true' as hide_active_anchor %}
                                {% with 'active' as li_class_active %}
                                {% with 'first' as li_class_first %}
                                {% with ' ' as link_classes %}
                                    {% include 'navigation/generic_subnavigation.html' %}
                                {% endwith %}
                                {% endwith %}
                                {% endwith %}
                                {% endwith %}
                                {% endwith %}
                            {% endfor %}
                        {% endfor %}
                    {% endfor %}
                </ul>

                {% include 'dynamic_search/search_box_toolbar.html' %}

            </div>
        </div>
    </nav>
{% endspaceless %}
